@font-face {
    font-family: 'NeoFont';
    src: url('./fonts/neo.ttf') format('truetype');
}

body {
    font-family: 'NeoFont', sans-serif !important;;
}

::-webkit-scrollbar {
    width: 1px;  /* 세로축 스크롤바 폭 너비 */
}